header {
 top: 0; 
 width: 100%; 
 border-bottom: 3px solid #ededed;
 border-image: linear-gradient(to left, rgba(221, 221, 221, 0) 0, #ddd 20%, #ddd 80%, rgba(221, 221, 221, 0) 100%) 1;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 padding-top:16px;
 padding-bottom:16px;
}

footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 border-top: 3px solid #ededed;
 border-image: linear-gradient(to left, rgba(221, 221, 221, 0) 0, #ddd 20%, #ddd 80%, rgba(221, 221, 221, 0) 100%) 1;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 padding-top:16px;
 padding-bottom:16px;
}

.pill-nav{
 padding-top:16px;
 padding-bottom:24px;
}

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  width: 15%;
}

.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}